@model SAGLET.Models.Room
<hr />

<div class="col-md-6" >
    <div class="lbl-wrapper">
        <label class="icon-chat-bubble-two">Live Chat</label>
    </div>
    <div class="table-wrapper">
        <table id="chat-live" class="table tablefix table-striped">
            <tr>
                <th class="col-md-2">Timestamp</th>
                <th class="col-md-1">Username</th>
                <th class="col-md-1">Sentiment</th>
                <th class="col-md-5">Message</th>
                <th class="col-md-1">Marked As</th>
                <th class="col-md-1">Critical Point</th>
            </tr>
        </table>
    </div>
</div>

<div class="col-md-6">   
    <div class="lbl-wrapper form-inline">
        <label style="margin-right:10px" class="icon-flash">Live Actions</label>
        <label for="tabs-live">Tab ID</label>
        @Html.DropDownList("tabs-live", new SelectList(Model.RoomGroup.Tabs, "ID", "ID"), new { @class = "form-control tab-selectbox" })
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        @{ string classActive = "active"; }
        @foreach (SAGLET.Models.Tab item in Model.RoomGroup.Tabs)
        {
            <div role="tabpanel" class="tab-pane fade in @classActive" id="live-tab-@item.ID">
                <div class="table-wrapper">
                    <table id="action-live-tab-@item.ID" class="table table-striped tablefix">
                        <tr>
                            <th class="col-md-2">Time</th>
                            <th class="col-md-1">Username</th>
                            <th class="col-md-9">Action</th>
                        </tr>
                    </table>
                </div>
            </div>
            if (classActive != "") { classActive = ""; }
        }
    </div>

</div>

