@model IEnumerable<SAGLET.Models.CriticalActionPoints>

@{
    string key = ViewData["key"].ToString();
    string cpaMin = ViewData["cpaMin"].ToString();
    string cpaAll = ViewData["cpaAll"].ToString();
    string cpaUnseen = ViewData["cpaUnseen"].ToString();
    bool listRoomID = Convert.ToBoolean(ViewData["listRoomID"]);
    bool listTrigger = Convert.ToBoolean(ViewData["listTrigger"]);
    bool listTime = Convert.ToBoolean(ViewData["listTime"]);
}


<div class="panel panel-default head-act">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapse-cpa-@key" data-priority="@cpaMin">
        <h4 class="panel-title">
            <span class="icon-plus-square"></span>
            <span class="icon-flash-electric" data-toggle="tooltip" title="Critical Actions" data-placement="top"></span>
            <span id="vmt-room-@key-num-cp-act" data-toggle="tooltip" title="Unhandeled / Total" data-placement="top" class="badge">
                <span class="first-value">@cpaUnseen</span>/<span class="second-value">@cpaAll</span>
            </span>
        </h4>
    </div>
    <div id="collapse-cpa-@key" class="panel-collapse collapse">
        <div class="panel-body act">
            @Html.Partial("_VMT_CPA", Model, new ViewDataDictionary {
                { "listRoomID", listRoomID },
                { "listTrigger", listTrigger},
                { "listTime", listTime}
            }))
        </div>
    </div>
</div>