@model ICollection<SAGLET.Models.Room>


<!-- Nav tabs -->
<div id="vmt-iframes-nav">
    <ul class="nav nav-tabs" role="tablist">
        @if (Model.Count > 0)
        {
            <li class="active"><a id="vmt-frame-link-@Model.First().ID" href="#vmt-frame-@Model.First().ID" data-toggle="tab">@Model.First().ID</a></li>   
        }
        @for (int i = 1; i < Model.Count; i++)
        {
            var item = Model.ElementAt(i);
            <li><a id="vmt-frame-link-@item.ID" href="#vmt-frame-@item.ID" data-toggle="tab">@item.ID</a></li>   
        }
    </ul>
</div>

<!-- Tab panes -->
<div id="vmt-iframes-tabs" class="tab-content">
    @if (Model.Count > 0)
    {
        <div class="tab-pane fade in active" id="vmt-frame-@Model.First().ID">
            <iframe data-id="@Model.First().ID"></iframe>
        </div>
    }
    @for (int i = 1; i < Model.Count; i++)
    {
        var item = Model.ElementAt(i);
        <div class="tab-pane fade" id="vmt-frame-@item.ID">
            <iframe data-id="@item.ID"></iframe>
        </div>
    }
</div>