@model int

<div class="panel panel-default head-users">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapse-users-@Model">
        <h4 class="panel-title">
            <span class="icon-plus-square"></span>
            <span class="icon-users" data-toggle="tooltip" title="Users" data-placement="top"></span>
            <span id="vmt-room-@Model-num-users" data-toggle="tooltip" title="Online / Total" data-placement="top" class="badge">
                <span class="first-value">0</span>/<span class="second-value">0</span>
            </span>
        </h4>
    </div>
    <div id="collapse-users-@Model" class="panel-collapse collapse" data-type="users" data-roomid="@Model">
        <div class="panel-body users">
            @Html.Partial("_VMT_Users", @Model)
        </div>
    </div>
</div>