




/*scaled for 1920x1080*/





/*scaled for 1920x1080*/


/*.scaled-full-size-frame-for-800-minus-width-screens {
    width: 1750px;
    height: 82vh;
    border: 0px;
    margin-top: -378px;
    margin-left: -25px;

    zoom: 0.7;
    -moz-transform: scale(0.90);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.40);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.90);
    -webkit-transform-origin: 0 0;
}

.scaled-full-size-frame-for-800-plus-width-screens {
    width: 1750px;
    height: 62vh;
    border: 0px;
    margin-top: -245px;
    margin-left: -25px;

    zoom: 0.8;
    -moz-transform: scale(0.90);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.40);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.90);
    -webkit-transform-origin: 0 0;
}*/

/*.scaled-full-size-frame {
    width: 1750px;
    height: 2090px;
    border: 0px;
    margin-top: -245px;
    margin-left: -25px;

    zoom: 0.8;
    -moz-transform: scale(0.90);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.40);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.90);
    -webkit-transform-origin: 0 0;
}*/

/*.scaled-frame {
    width: 2000px;
    height: 2000px;
    border: 0px;
    margin-top: -230px;
    margin-left: -133px;

    zoom: 0.69;
    -moz-transform: scale(0.40);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.40);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.40);
    -webkit-transform-origin: 0 0;
}*/


/*@media screen and (-webkit-min-device-pixel-ratio:0) {
    .scaled-frame {
        zoom: -1;
    }
}*/

/*.thisRoomIsOpenMoveItLeft {
    float:left;
}
.thereIsRoomOpenMoveAllright {
    float:right;
}*/

