@model int

<div id="vmt-toolbar-users-@Model">
    <div class="col-xs-6">
        <ul class="list-group row" style="margin-bottom:5px;">
        </ul>
    </div>
    <div class="col-xs-6 row" style="margin-bottom:15px">
        <div id="toolbar-@Model-msgs-pie" @*class="col-xs-12 row"*@ style="height: 150px; width: 100%">
        </div>
        @*<div id="toolbar-@Model-acions-pie" class="col-xs-6 row" style="height: 120px; width: 50%">
        </div>*@
    </div>
</div>