<div class="row container">
    <div class="panel panel-default">

        <div class="panel-body">
            <div class="col-md-6 container">
                <div class="panel-heading">Active Rooms</div>
                <rooms-list rooms="vm.user.rooms.watch" watch="true" on-status-change="vm.changeWatchStatus(index, status)"></rooms-list>
                
            </div>

            <div class="col-md-6 container">
                <div class="panel-heading">Archive Rooms</div>
                <rooms-list rooms="vm.user.rooms.rest" watch="false" on-status-change="vm.changeWatchStatus(index, status)"></rooms-list>
            </div>

        </div>
    </div>


    <!--<div class="panel-heading">Active Rooms</div>
    <div class="panel-body">
        <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.</p>

        <rooms-list rooms="vm.syncedRoomsList"></rooms-list>

    </div>


    <div class="row container">

        <div class="panel panel-default">

            <div class="panel-heading">All Rooms</div>
            <div class="panel-body">
                <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. </p>
                <rooms-list rooms="vm.noneSyncedRoomsList"></rooms-list>
            </div>



        </div>


    </div>-->
