<div class="cp-dashboard">
    <div class="panel panel-primary" id="cp-dashboard-primary">
        <div class="panel-heading" id="cp-dashboard-heading">
            Alerts Dashboard
        </div>
        <div class="panel panel-default" style="margin-bottom:0; height:470px;">
            <div class="panel-body" style="padding:0; min-height:470px; max-height:470px; overflow-y:scroll;">
                <ul class="list-group" style="margin-bottom:7px;">
                    <li class="list-group-item" style="padding:2px 10px; margin-bottom:0; background-color:beige; " ng-repeat="cp in vm.newCriticalPoints | orderBy: '-cpTime'">
                        <div>
                            <cp-icons style="float:left;" critical-point="cp" dashboard="true"></cp-icons> | <span>{{::cp.cpTime}}</span>
                            <span class="label label-warning" style="color:black; background-color:beige; border:1px solid #dddddd; float:right;" ng-repeat="user in cp.cpUser" ng-if="cp.cpType >= 18 && cp.cpType <= 20">{{::user}}</span>
                        </div>
                    </li>
                    <!--Treated-->
                    <li class="list-group-item" style="padding:2px 10px; margin-bottom:0;" ng-repeat="cpTreated in vm.oldCriticalPoints | orderBy: '-cpTime' ">
                        <div>
                            <cp-icons style="float:left; opacity:0.7;" critical-point="cpTreated" dashboard="true"></cp-icons> | <span>{{::cpTreated.cpTime}}</span>
                            <span class="label label-warning" style="color:black; background-color:beige; border:1px solid #dddddd; float:right;" ng-repeat="user in cpTreated.cpUser" ng-if="cpTreated.cpType >= 18 && cpTreated.cpType <= 20">{{::user}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-heading" style="padding:1px;">
            Last tagged messages
        </div>
        <div class="panel panel-default" style="margin-bottom: 0; overflow-y: scroll; min-height: 200px; height:{{ vm.tagHeight }}px;">
            <div class="panel-body" style="padding:0;">
                <ul class="list-group" style="margin-bottom:7px;">
                    <li class="list-group-item clearfix" style="padding:2px 10px; font-size:smaller;" ng-repeat="cp in vm.criticalPointsMessages | orderBy: '-cpTime'" ng-if="cp.cpType != 18">
                        <cp-icons style="opacity:0.7" full-view="true" dashboard="true" critical-point="cp"></cp-icons>
                        <span>{{cp.cpTime}}</span>
                        <span>({{cp.cpUser}})</span>
                        <span style="direction:rtl; float:right; text-align: right;">{{cp.cpMsg}}</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

