<div class="cp-dashboard">
    <div class="panel panel-primary" id="cp-dashboard-primary">
        <div class="panel-heading" id="cp-dashboard-heading">
            Alerts Dashboard
        </div>
        <div class="panel panel-default" style="margin-bottom:0px; height:470px;">
            <div class="panel-body" style="padding:0px; min-height:470px; max-height:470px; overflow-y:scroll;">
                <ul class="list-group" style="margin-bottom:7px;">
                    <li class="list-group-item" style="padding:2px 10px; margin-bottom:0px; background-color:beige; " ng-repeat="cp in vm.newCriticalPoints | orderBy: '-cpTime'">
                        <div class="container" style="padding-left:0px; padding-right:0px;">
                            <cp-icons style="float:left;" critical-point="cp"  dashboard="true"></cp-icons> | <span>{{::cp.cpTime}}</span>
                            <span class="label label-warning" style="color:black; background-color:beige; border:1px solid #dddddd; float:right;" ng-repeat="user in cp.cpUser" ng-if="cp.cpType == 18 || cp.cpType == 19 || cp.cpType == 20">{{::user}}</span>
                        </div>
                    </li>
                    <!--Treated-->
                    <li class="list-group-item" style="padding:2px 10px; margin-bottom:0px;" ng-repeat="cpTreated in vm.oldCriticalPoints | orderBy: '-cpTime' ">
                        <div class="">
                            <cp-icons style="float:left; opacity:0.5;" critical-point="cpTreated" dashboard="true"></cp-icons> | <span>{{::cpTreated.cpTime}}</span>
                            <span class="label label-warning" style="color:black; background-color:beige; border:1px solid #dddddd; float:right;" ng-repeat="user in cpTreated.cpUser" ng-if="cpTreated.cpType == 18">{{::user}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <!--<div class="panel-heading" style="padding:1px;">
                Treated
            </div>
            <div class="panel-body" style="padding:0px; min-height:182px; max-height:182px; overflow-y:scroll;">
                <ul class="list-group" style="margin-bottom:7px;">
                    <li class="list-group-item" style="padding:2px; 10px; margin-bottom:0px;" ng-repeat="cp in vm.oldCriticalPoints track by $index">
                        <div class="">
                            <cp-icons style="float:left;" critical-point="cp" critical-point-index="$index" dashboard="true"></cp-icons> | {{vm.currentDate()}}
                            <span ng-if="cp.cpType == 'idle'"><span ng-repeat="user in cp.idleUsers">{{user}}</span></span>
                        </div>
                    </li>
                </ul>
            </div>-->
        </div>
        <div class="panel-heading" style="padding:1px;">
            Last tagged messages
        </div>
        <div class="panel panel-default" style="margin-bottom: 0px; overflow-y: scroll; min-height: 200px; height:{{ vm.tagHeight }}px;">
            <div class="panel-body" style="padding:0px;">
                <ul class="list-group" style="margin-bottom:7px;">
                    <li class="list-group-item" style="padding:2px 10px; font-size:smaller;" ng-repeat="cp in vm.criticalPointsMessages | orderBy: '-cpTime'" ng-if="cp.cpType != 18">
                        <!--ng-class="'list-group-item list-group-item-warning':($index < 10)"-->
                        <cp-icons style="opacity:0.5" full-view="true" dashboard="true" critical-point="cp"></cp-icons>
                        <span>{{cp.cpTime}}</span>
                        <span>({{cp.cpUser}})</span>
                        <span style="direction:rtl; float:right;">{{cp.cpMsg}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <!--<div class="panel-footer" style="padding:0px;">
            <div class="panel panel-default" style="margin-bottom:0px;">
                <cp-index style="font-size:100%;"></cp-index>
            </div>
        </div>-->
    </div>
</div>

