@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li><a href="#!/rooms">Rooms</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a style="padding: 13px 15px 13px;">
                <span id="connection-status" data-toggle="tooltip" title="Connection Status" data-placement="bottom" class="label label-danger">Offline</span>
            </a>
        </li>
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage", data_toggle="tooltip", data_placement="bottom" })
        </li>
        <li><a class="icon-log-out" href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
    </ul>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "icon-log-in" })</li>
    </ul>
}
