body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* My Changes*/

/* Main Index Page*/
.capital{
    font-size: 1.3em;
    color: blue;
    font-weight: bold;
}

/* General */

.highlight{
    background-color: lightblue;
}

table > tbody > tr[data-status="unseen"]{
    opacity: 1;
}

table > tbody > tr[data-status="seen"]{
    opacity: 0.5;
}

table > tbody > tr[data-priority="1"], #notifications-box > ul > li[data-priority="1"]{
    background-color: #ffc2b3;
}

table > tbody > tr[data-priority="2"], #notifications-box > ul > li[data-priority="2"]{
    background-color: #ffff99;
}

div.panel-heading[data-priority="1"]{
    background: -webkit-linear-gradient(left, #f5f5f5, #ffc2b3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f5f5f5, #ffc2b3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f5f5f5, #ffc2b3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f5f5f5, #ffc2b3); /* Standard syntax (must be last) */
}

div.panel-heading[data-priority="2"]{
    background: -webkit-linear-gradient(left, #f5f5f5, #ffff99); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f5f5f5, #ffff99); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f5f5f5, #ffff99); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f5f5f5, #ffff99); /* Standard syntax (must be last) */
}

.notification{
    text-align: center;
    font-size: 1.5em;
    border: solid;
    border-radius: 5px;
}

span.badge.highlight{
    background-color: #5cb85c;
}

.clearline{
    display: block;
}

#wordle-canvas{
	width: 100%;
	height: auto;
}

.user-label{
    margin-right: 5px;
}



.container-graphs{
    margin: 5px 0 5px 0;
}

kbd{
    padding:2px 4px;
    font-size:90%;
    color:#fff;
    background-color:#333;
    border-radius:3px;
    -webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow:inset 0 -1px 0 rgba(0,0,0,.25)
}

.lbl-wrapper{
    min-height:45px;
}

.tab-selectbox{
    margin-left: 10px;
    text-align: center;
    width: 100px;
}

.tablefix{
    table-layout: fixed;
    width: 100%;
}

.tablefix td{
    word-wrap: break-word;
}

/* This only works with JavaScript,
               if it's not present, don't show loader */
.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    right: 50%;
    bottom: 50%;
    z-index: 1;
}

/* Top Navbar - connected/disconnected */

#connection-status{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    display: block;
    width: 125px;
    font-size: 14px;    
}
/* Graph - Users */

.user{
    margin: 0 auto;
    width: 100%;
    border: 1px solid lightblue;
    font-weight: bold;
}

#left-panel .list-group-item-heading > span.badge, #left-panel .list-group-item-heading >input {
    float: right;
    margin-left: 2px;
}

#left-panel hr {
    margin-top:5px;
    margin-bottom:5px;
}

.grey-color{
    background-color: #ebebeb;
    border-color: #ebebeb;
}

.blue-color{
    background-color: #428bca;
    border-color: #428bca;
    color: #fff;
}

#gauge-div > ul.list-inline > li{
    padding-right: 0px;
    padding-left: 0px;
}

/* VMT */

#vmt-iframes-container iframe, #vmt-iframes-container video{
    width: 100%;
    min-height: 600px;
}

#rooms-toolbar .panel-heading:hover{
    cursor: pointer;
}

.vmt-toolbox-group{
    margin: 15px 0 15px 0;
}

div.panel-body.users .list-group-item.col-xs-6{
    padding-top: 5px;
    padding-bottom: 0px;
}

div.panel-body.users, div.panel-body.msg, div.panel-body.act, div.panel-body.summary{
    padding: 0px;
}

.toolbar-badges{
    float: right;
}

.toolbar-badge{
    display: inline;
    margin-right: 2px;
}

#summary-table{
    /*max-height: 250px;*/
}

#summary-table table, div.msg table{
    margin-bottom: 0px;
}

/*#notification-box{
    margin: 5px;
    padding: 5px;
}*/

#notifications-box > ul{
    -webkit-padding-start: 5px;
}

li.notification{
    margin: 5px;
    padding: 5px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    display: block;
    cursor: pointer;
}

li.notification > span{
    padding: 5px;
}

/* USERS COLORS */
div.users ul.list-group li:nth-child(1) div.user-left-bar{background-color: #3366CC;}   /*1*/
div.users ul.list-group li:nth-child(2) div.user-left-bar{background-color: #DC3912;}   /*2*/
div.users ul.list-group li:nth-child(3) div.user-left-bar{background-color: #FF9900;}   /*3*/
div.users ul.list-group li:nth-child(4) div.user-left-bar{background-color: #109618;}   /*4*/
div.users ul.list-group li:nth-child(5) div.user-left-bar{background-color: #990099;}   /*5*/
div.users ul.list-group li:nth-child(6) div.user-left-bar{background-color: #3B3EAC;}   /*6*/
div.users ul.list-group li:nth-child(7) div.user-left-bar{background-color: #0099C6;}   /*7*/
div.users ul.list-group li:nth-child(8) div.user-left-bar{background-color: #DD4477;}   /*8*/
div.users ul.list-group li:nth-child(9) div.user-left-bar{background-color: #66AA00;}   /*9*/
div.users ul.list-group li:nth-child(10) div.user-left-bar{background-color: #B82E2E;}   /*10*/
div.users ul.list-group li:nth-child(11) div.user-left-bar{background-color: #316395;}   /*11*/
div.users ul.list-group li:nth-child(12) div.user-left-bar{background-color: #994499;}   /*12*/
div.users ul.list-group li:nth-child(13) div.user-left-bar{background-color: #22AA99;}   /*13*/
div.users ul.list-group li:nth-child(14) div.user-left-bar{background-color: #AAAA11;}   /*14*/
div.users ul.list-group li:nth-child(15) div.user-left-bar{background-color: #6633CC;}   /*15*/
div.users ul.list-group li:nth-child(16) div.user-left-bar{background-color: #E67300;}   /*16*/
div.users ul.list-group li:nth-child(17) div.user-left-bar{background-color: #8B0707;}   /*17*/
div.users ul.list-group li:nth-child(18) div.user-left-bar{background-color: #329262;}   /*18*/
div.users ul.list-group li:nth-child(19) div.user-left-bar{background-color: #5574A6;}   /*19*/
div.users ul.list-group li:nth-child(20) div.user-left-bar{background-color: #3B3EAC;}   /*20*/



.user-bar{
    display: table;
}

.user-left-bar{
    width:8px;
    /*display: inline-flex;*/
    margin-right: 5px;
    display: table-cell;
}

.user-right-bar{
    /*display: inline-flex;*/
    display: table-cell;
    padding-left: 5px;
}

div.user-right-bar div.progress{
    margin-bottom: 5px;
}



/* Tables */

.table-wrapper{
    overflow-y: scroll;
}

#graph-critical-points .table-wrapper{
    max-height: 400px;           
}

div.col-md-6 div.table-wrapper, div.tab-pane > div.table-wrapper{  
    max-height: 600px;    
}

div.panel-body div.table-wrapper{
    max-height: 300px; 
}