<div class="table-wrapper">
    <table class="table">
        <tr>
            <th class="th-reviewed">Reviewd?</th>
            <th>Time</th>
            <th>Trigger</th>
            <th>User</th>
            <th>Type</th>
            <th>Priority</th>
            <th>Feedback</th>
        </tr>
    </table>
</div>



