
<link href="http://vmtdev.mathforum.org/css/vmt.css" rel="stylesheet" />
<link href="~/app/css.css" rel="stylesheet" />
<link href="~/app/rooms/components/cp-icons/cp-icons.css" rel="stylesheet" />
<link href="~/app/rooms/components/cp-dashboard/cp-dashboard.css" rel="stylesheet" />

<link href="~/app/rooms/components/room-box/room-box.component.css" rel="stylesheet" />
<link href="~/app/rooms/components/room-box/room-box-scaled-rules.component.css" rel="stylesheet" />

@*<link href="./node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css" rel="stylesheet" />
<link href="./node_modules/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet" />*@

<script src="./node_modules/angular/angular.js"></script>
<script src="./node_modules/angular-route/angular-route.js"></script>
<script src="./node_modules/ngstorage/ngStorage.min.js"></script>

@*<script src="./node_modules/socket.io-client/socket.io.js"></script>*@


<script src="~/Scripts/jquery-3.1.0.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>


@*<script src="./node_modules/bootstrap-material-design/dist/js/material.min.js"></script>
<script src="./node_modules/bootstrap-material-design/dist/js/ripples.min.js"></script>*@

<script src="~/signalr/hubs"></script>

<script type="text/javascript" src="./node_modules/angular-signalr-hub/signalr-hub.js"></script>


<script src="~/app/app.js"></script>
<link href="~/app/rooms/rooms.component.css" rel="stylesheet" />

<script src="~/app/app.config.js"></script>
<script src="~/app/app.component.js"></script>

<script src="~/app/home/app.home..js"></script>
<script src="~/app/home/home.component.js"></script>
<script src="~/app/home/components/rooms-list/rooms-list.component.js"></script>


<script src="~/app/actions/app.actions.js"></script>
<script src="~/app/actions/actions.component.js"></script>

<script src="~/app/rooms/app.rooms.js"></script>
<script src="~/app/rooms/rooms.component.js"></script>
<script src="~/app/rooms/services/rooms.service.js"></script>
<script src="~/app/rooms/components/room-box/room-box.component.js"></script>
<script src="~/app/rooms/components/rooms-overview/rooms-overview.component.js"></script>
<script src="~/app/rooms/components/cp-dashboard/cp-dashboard.component.js"></script>
<script src="~/app/rooms/components/cp-icons/cp-icons.component.js"></script>

<script src="~/app/common/app.common.js"></script>
<script src="~/app/common/shareData.service.js"></script>

@*<script>
    $.material.init()
</script>*@

<div ng-app="app">

    <app-component></app-component>

</div>