@if (!Request.IsAuthenticated)
{
    <div class="jumbotron">
        <div class="container text-center">
            <h1>
                <span class="capital">S</span>ystem
                for
                <span class="capital">A</span>dvanced
                <span class="capital">G</span>roup
                <span class="capital">L</span>earning
                in
                <span class="capital">E</span>ducational
                <span class="capital">T</span>echnologies
            </h1>
        </div>
    </div>
}
<div class="container-fluid body-content">
</div>