<span class="label label-warning"><i class="glyphicon glyphicon-wrench fa-lg"> </i> - Technical</span>
<span class="label label-default"><i class="fa fa-bed fa-lg" aria-hidden="true"> </i> - Idleness</span>
<span class="label label-info"><i class="fa fa-comment-o fa-lg" aria-hidden="true"> </i> - Non Mathematical Conversation</span>
<span class="label label-danger"><i class="glyphicon glyphicon-remove fa-lg"> </i> - Wrong solution</span>
<span class="label label-success"><i class="glyphicon glyphicon-ok fa-lg"> </i> - Correct solution</span>
<span class="label label-primary"><i class="fa fa-question fa-lg"> </i> - Confusion</span>
<span class="label label-info" style="background-color: #b5269d; "><i class="fa fa-lightbulb-o fa-lg"> </i> - Idea</span>



<!--<span class="label label-warning">TEC - Technical</span>
<span class="label label-default">IDL - Idleness</span>
<span class="label label-info">NMD - Non Mathematical Conversation</span>
<span class="label label-danger">WDS - Wrong solution</span>
<span class="label label-success">CDS - Correct solution</span>
<span class="label label-primary">CNS - Confusion</span>
<span class="label label-primary" style="background-color: #b5269d; ">BB - Idea</span>-->