<span class="label label-warning cp-block"><i class="glyphicon glyphicon-wrench cp-center"> </i> - Technical</span>
<span class="label label-default cp-block"><i class="fa fa-bed fa-lg cp-center" aria-hidden="true"> </i> - Idleness</span>
<span class="label label-info cp-block"><i class="fa fa-comment-o fa-lg cp-center" aria-hidden="true"> </i> - Non Mathematical Discussion</span>
<span class="label label-primary cp-block"><i class="fa fa-percent" aria-hidden="true"> </i> - Direct Solution</span>
<span class="label label-danger cp-block"><i class="glyphicon glyphicon-remove fa-lg cp-center"> </i> - Wrong Solution</span>
<span class="label label-success cp-block"><i class="glyphicon glyphicon-ok fa-lg cp-center"> </i> - Correct Solution</span>
<span class="label label-confusion cp-block"><i class="fa fa-question fa-lg"> </i> - Confusion</span>
<span class="label label-idea cp-block"><i class="fa fa-lightbulb-o fa-lg"> </i> - Idea</span>
<span class="label label-join cp-block"><i class="glyphicon glyphicon-user cp-center"> </i> - User Joined</span>
<span class="label label-left cp-block"><i class="glyphicon glyphicon-user cp-center"> </i> - User Left</span>


<!--<span class="label label-warning">TEC - Technical</span>
<span class="label label-default">IDL - Idleness</span>
<span class="label label-info">NMD - Non Mathematical Conversation</span>
<span class="label label-danger">WDS - Wrong solution</span>
<span class="label label-success">CDS - Correct solution</span>
<span class="label label-primary">CNS - Confusion</span>
<span class="label label-primary" style="background-color: #b5269d; ">BB - Idea</span>-->