<div ng-class="{'col-md-3': vm.overview,
                'col-md-10 thisRoomIsOpenMoveItLeft': vm.fullView}"
     style="padding-right:6px; padding-left:6px; padding-top:15px;">



    <div class="iframe-wrapper"
         ng-hide="vm.hide"
         ng-class="{'iframe-wrapper-overview': vm.overview, 'iframe-wrapper-this-room-is-open': vm.fullView,
                    'has-new-cp':vm.newcp}">
        <div class="panel panel-default ">

            <!--<div class="navbar  navbar-default navbar-fixed-top ">
                <div class="container-fluid">
                    <cp-icons critical-points="vm.criticalPoints" full-view="vm.fullView"></cp-icons>

                    <button type="button"
                            class="btn btn-default btn-sm"
                            aria-label="Left Align"
                            ng-click="vm.openCloseFullView()">
                        <span ng-class="{'glyphicon glyphicon-zoom-in': !vm.fullView, 'glyphicon glyphicon-zoom-out': vm.fullView }" aria-hidden="true"></span>
                    </button>
                </div>
                </div>
            </div>-->
            <div class="panel-heading" ng-class="{'iframe-header':true, 'iframe-header-has-new-cp-or-room-is-open':vm.fullView || vm.newcp }">
                Room: {{vm.room.ID}}

                
                <div class="panel-group" style="float:right">
                    
                    <cp-icons critical-points="vm.criticalPoints" full-view="vm.fullView"></cp-icons>
                    
                    <button type="button"
                            class="btn btn-default btn-sm"
                            aria-label="Left Align"
                            ng-click="vm.openCloseFullView()">
                        <span ng-class="{'glyphicon glyphicon-zoom-in': !vm.fullView, 'glyphicon glyphicon-zoom-out': vm.fullView }" aria-hidden="true"></span>
                    </button>
                </div>

            </div>

            <div class="panel-body">
                <!--<iframe ng-class="{'scaled-frame':vm.overview, 'scaled-full-size-frame-for-800-plus-width-screens':vm.fullView && vm.screenWidth >= 1371, 'scaled-full-size-frame-for-800-minus-width-screens':vm.fullView && vm.screenWidth <= 1370  }" scrolling="no" ng-src="{{vm.iframeLink(vm.room.ID)}}"></iframe>-->
            </div>
        </div>

    </div>
</div>
<div class="col-md-2" ng-if="!vm.overview && vm.fullView">
    
    <cp-dashboard critical-points="vm.criticalPoints"></cp-dashboard>
    
</div>

