.iframe-wrapper {
    width: auto;
    padding: 0;
    overflow: hidden;
    /*outline: 3px solid rgb(128, 128, 128);*/
    
    outline: 3px solid rgb(232, 229, 229);
    
}
.iframe-wrapper-overview {
    height:43vh;
}


.iframe-wrapper:hover .iframe-header {
    z-index:-1;
    opacity: 1.0;
    z-index: 2;
    
    width: 100%;
}

.iframe-header {
    position:relative;
    z-index: 1;
    width: 100%;
    opacity: 0.0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;

}

.iframe-header-has-new-cp-or-room-is-open{
    position:relative;
    z-index: 1;
    
    opacity: 1.0;
    width: 100%;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.has-new-cp{
    outline: 5px solid #428bca;
}
.has-new-cp-tec{
    outline: 5px solid #f0ad4e;
}
.has-new-cp-nmd{
    outline: 5px solid #5bc0de;
}
.has-new-cp-wds{
    outline: 5px solid #d9534f;
}
.has-new-cp-cds{
    outline: 5px solid #5cb85c;
}
.has-new-cp-idle{
    outline: 5px solid #999999;
}

