.iframe-wrapper {
    width: auto;
    padding: 0;
    overflow: hidden;
    outline: 3px solid rgb(232, 229, 229);
}

.iframe-wrapper-fullview {
    min-height: 709px;
    position: relative;
}

.iframe-wrapper:hover .iframe-header {
    opacity: 1.0;
    z-index: 2;
}

.iframe-header {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0;
    margin: 0;
}

.iframe-header-fullview{
    height: 42px;
    padding: 5px;
}

.iframe-header-has-new-cp-fv{
    position: relative;
    z-index: 1;
    opacity: 1.0;
    height: 71px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.iframe-header-has-new-cp-ov{
    position: relative;
    z-index: 1;
    height: 60px;
    opacity: 1.0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.cp-panel-overview {
    float: right;
    height: 24px;
}

.cp-panel-fullview {
    float: right;
    height: 35px;
}

.has-new-cp{
    outline: 5px solid #428bca;
}
.has-new-cp-tec{
    outline: 5px solid #f0ad4e;
}
.has-new-cp-nmd{
    outline: 5px solid #5bc0de;
}
.has-new-cp-wds{
    outline: 5px solid #d9534f;
}
.has-new-cp-cds{
    outline: 5px solid #5cb85c;
}
.has-new-cp-idle{
    outline: 5px solid #999999;
}
.has-new-cp-uj{
    outline: 5px solid #8FFFA8;
}
.has-new-cp-ul {
    outline: 5px solid #933B3B;
}

.scaled-fullview {
    margin-top: -210px;
    margin-left: -20px;
    -moz-transform: scale(0.74);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.74);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.74);
    -webkit-transform-origin: 0 0;
}

.scaled-overview {
    margin-top: -85px;
    margin-left: -5px;
    -moz-transform: scale(0.24);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.24);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.24);
    -webkit-transform-origin: 0 0;
}
