
    <!-- Table -->

    <table class="table">
        <tr>
            <th>
                <i class="glyphicon glyphicon-th" data-toggle="tooltip" title="Room ID"> </i>
                Watch
            </th>
            <th>
                <i class="glyphicon glyphicon-asterisk"></i>
                Room
            </th>
            <th>
                <i class="glyphicon glyphicon-calendar"></i>
                Last Update
            </th>
            

            
        </tr>
        <tr class="" ng-repeat="room in vm.rooms track by $index">
          
            <td>
                <button class="btn btn-link n"
                        ng-class="['btn',{'glyphicon glyphicon glyphicon-plus plusButtonGreen':!vm.watch, 'glyphicon glyphicon glyphicon-minus minusButtonRed':vm.watch}]"
                        
                        ng-click="vm.changeWatchStatus($index)"
                        style="text-decoration:none;">
                </button>
                
                
                
            </td>
            <td><b>{{room.ID}}</b>{{" - " + room.Name}}</td>
            <td>{{room.LastUpdate | date}}</td>
            
        </tr>

    </table>
