<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--server varibales-->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!---->
  
  <!--configuration varibales-->
  <!--all numric values should be int-->
  <!--time variables in seconds-->
  <add key="idlenessWindow" value="10" />
  <add key="idlenessAlertFrequency" value="5" />
  <add key="teacherUserNames" value="adva_we,naomiprusak,osama-swidan" />

  <!--real values-->
  
  <add key="nmdTimeWindow" value="180" />
  <add key="startRoomWaitTime" value="0" /> <!--180-->
  <add key="nmdAlertWaitTime" value="5" /> <!--180-->
  <add key="allIdleTime" value="15" /> <!--180-->
  <add key="geogebraCheckTime" value="0" /> <!--1200-->
  <add key="yesChatNoActionTime" value="420" />
  
  
  
  <add key="cpWindowSize" value="10" />
  <add key="DSinARow" value="8" />
  <add key="NMDinARow" value="6" />
  <!---->
</appSettings>
