<div class="row container" >
    <div class="panel panel-default">
        <span ng-show="vm.loader" us-spinner="{radius:55, width:8, length: 16}"></span>
        <div class="panel-body" ng-show="!vm.loader">
            <div class="col-md-6 container">
                <div class="panel-heading">
                    <p style="margin-left:-10px; font-size:18px; display:inline;">Active Rooms</p>
                </div>
                <rooms-list rooms="vm.user.rooms.watch" watch="true" on-status-change="vm.changeWatchStatus(index, status)"></rooms-list>
            </div>
            <div class="col-md-6 container">
                <div class="panel-heading">
                    <p style="margin-left:-10px; font-size:18px; display:inline;">Archived Rooms</p>
                    <div class="btn-group" style="float:right;margin-top:-8px;margin-right:-15px;">
                        <button class="btn btn-default" ng-click="vm.updateRooms()">
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Sync new rooms
                        </button>
                    </div>
                </div>
                <rooms-list rooms="vm.user.rooms.rest" watch="false" on-status-change="vm.changeWatchStatus(index, status)" is-full="vm.full"></rooms-list>
            </div>
        </div>
    </div>
</div>