.cp-icons-full-view {
    font-size: 18px;
    display: inline-block;
    margin: 2px 6px;
}

.cp-icons{
    font-size:10px;
    margin: 2px 5px;
}

.cp-icons-dashboard {
    font-size:12px;
    margin: 5px;
    /*margin-right:25px;*/
}

.label-join {
  background-color: #8FFFA8;
}

.label-join[href]:hover,
.label-join[href]:focus {
  background-color: #ACFFBE;
}

.label-left {
  background-color: #933B3B;
}

.label-left[href]:hover,
.label-left[href]:focus {
  background-color: #AE4747;
}
