<span class="label "
      ng-class="{'label-info': vm.criticalPoint.cpType == 13,
                 'label-success': vm.criticalPoint.cpType == 14,
                 'label-danger': vm.criticalPoint.cpType == 15,
                 'label-info': vm.criticalPoint.cpType == 16,
                 'label-warning': vm.criticalPoint.cpType == 17,
                 'label-default': vm.criticalPoint.cpType == 18,

                 'cp-icons': !vm.fullView,
                 'cp-icons-full-view': vm.fullView,
                 'cp-icons-dashboard': vm.dashboard
      }">
    <i ng-class="{
       'glyphicon glyphicon-ok fa-lg': vm.criticalPoint.cpType == 14,
       'glyphicon glyphicon-remove fa-lg': vm.criticalPoint.cpType == 15,
       'fa fa-comment-o fa-lg': vm.criticalPoint.cpType == 16,
       'glyphicon glyphicon-wrench fa-lg':  vm.criticalPoint.cpType == 17,
       'fa fa-bed fa-lg': vm.criticalPoint.cpType == 18,

       }"></i>
    
</span>

