<!--<div class="btn-group" role="group" aria-label="true">-->

    <span class="glyphicon glyphicon-exclamation-sign" style="color:red;" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-exclamation-sign" style="color:#ff6a00;" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-exclamation-sign" style="color:#0026ff;" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-exclamation-sign" style="color:#ff006e;" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-exclamation-sign" style="color:#00ff21;" aria-hidden="true"></span>

   
<!--</div>-->
    
