<!--<span ng-repeat="cp in vm.criticalPoints"
      class="label "

      ng-class="{'label-info': cp.cpType == 13, 'label-primary': cp.cpType == 16, 'label-warning': cp.cpType == 17, 'label-default':cp.cpType == 'idle', 'cp-icons': !vm.fullView, 'cp-icons-full-view': vm.fullView, 'cp-icons-dashboard': vm.dashboard}">
        {{vm.cpTypeChanger(cp.cpType)}}

</span>-->
<!--<span ng-if="vm.cpIdle.length > 0" class="label label-default">idle</span>-->


<span class="label "
      ng-class="{'label-info': vm.criticalPoint.cpType == 13,
                 'label-primary': vm.criticalPoint.cpType == 16,
                 'label-warning': vm.criticalPoint.cpType == 17,
                 'label-default':vm.criticalPoint.cpType == 'idle',

                 'cp-icons': !vm.fullView,
                 'cp-icons-full-view': vm.fullView,
                 'cp-icons-dashboard': vm.dashboard
      }">
    <span ng-if="vm.criticalPointIndex != null" class="badge" style="background-color:white; color:black; font-size:smaller;">{{vm.criticalPointIndex + 1}}</span>
    {{vm.cpTypeChanger(vm.criticalPoint.cpType)}}

</span>
